html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

/*Main content style*/

.content-game {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Random word box style*/

.inputs-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/*Random word style*/

.inputs-words > .words {
  margin: 1em auto;
  width: inherit;
  font-size: 3em;
  text-align: center;
  color: #4d4d4d;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (min-width: 600px) {
  .inputs-words > .words {
    font-size: 4em
  }
}

/*Input to test style*/

.inputs-words > .send {
  height: 40px;
  width: 100%;
  font-size: 1.5em;
  outline: none;
  color: #4d4d4d;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .inputs-words > .send {
    width: 20em
  }
}

/*Time and score box style*/

.timer-score {
  width: 90%;
  margin-top: 1em;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "label timer" "label score";
  font-size: 1.1em
}

@media screen and (min-width: 600px) {
  .timer-score {
    justify-content: center;
    grid-gap: 0;
    grid-auto-columns: 7em 5em 7em 5em;
    grid-template-areas: "labelT timer labelS score";
    font-size: 1.2em
  }
}

.timer-score > input {
  border: none;
  outline: none;
  background: transparent;
}